<!-- @dsCard group="Components" viewport="700x160" name="StatusBadge" subtitle="Available / Sold / New Drop, two sizes" -->
<link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
<style>body{margin:0;background:var(--bg-page)}#root{display:flex;align-items:center;gap:14px;height:160px;padding:0 20px}</style>
<div id="root"></div>
<script type="text/babel">
const { StatusBadge } = window.AtomicFindsATX;
ReactDOM.createRoot(document.getElementById('root')).render(
  <React.Fragment>
    <StatusBadge status="available" />
    <StatusBadge status="sold" />
    <StatusBadge status="new-drop" />
    <StatusBadge status="available" size="sm" />
    <StatusBadge status="sold" size="sm" />
  </React.Fragment>
);
</script>
